.card {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 0;
    border: 0;
}

.card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: skew(-10deg);
    border-left: 1px dashed var(--blue);
}

.body .row .col-md-4:nth-child(1) .card:after {
    border: 0;
}

.card .icon {
    text-align: center;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 40px;
    position: relative;
    z-index: 0;
}

.card .icon span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.card .icon span::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    z-index: -1;
    border: 5px solid #e1193e;
    transform: rotate(-135deg);
    transition: all .3s ease;
}

.card .icon span img {
    width: 60px;
}

.card .card-body {
    padding: 10px 10px;
    text-align: center;
}

.card-body h2 {
    font-size: 30px;
    font-family: "Roboto Condensed";
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.3;
    margin-bottom: 15px;
}

.card .card-body p {
    font-size: 16px;
    font-weight: 600;
    color: #808080;
    line-height: 1.6;
}

.card:hover .icon span::after {
    transform: rotate(0deg);
}

/* ============= Responsiveness ================ */
@media (max-width: 991.98px) {
    .card {
        padding: 20px 30px;
    }

    .card::after {
        left: -10px;
    }

    .card .icon {
        width: 80px;
        height: 80px;
        margin-bottom: 30px;
    }

    .card .icon span {
        padding: 10px 0;
    }

    .card .icon span img {
        width: 50px;
    }

    .card-body h2 {
        font-size: 22px;
        line-height: 1.2;
        margin-bottom: 10px;
    }

    .card .card-body p {
        font-size: 14px;
        line-height: 1.3;
    }

}

@media (max-width: 767.98px) {
    .card::after {
        top: -30px;
        left: 0;
        right: 0;
        bottom: 0;
        transform: none;
        border-top: 1px dashed var(--blue);
        border-left: 0;
    }

    .card .icon {
        width: 100px;
        height: 100px;
        margin-bottom: 40px;
    }

    .card .icon span {
        padding: 15px 0;
    }

    .card .icon span img {
        width: 60px;
    }

    .card-body h2 {
        font-size: 30px;
        line-height: 1.4;
        margin-bottom: 15px;
    }

    .card .card-body p {
        font-size: 16px;
        line-height: 1.4;
    }
}

@media (max-width: 575.98px) {
    .card {
        padding: 20px 10px;
    }

    .card .icon {
        width: 90px;
        height: 90px;
        margin-bottom: 30px;
    }

    .card .icon span {
        padding: 12px 0;
    }

    .card .icon span img {
        width: 55px;
    }

    .card-body h2 {
        font-size: 28px;
        line-height: 1.2;
        margin-bottom: 15px;
    }

    .card .card-body p {
        font-size: 14px;
        line-height: 1.4;
    }
}