.aboutSection .row {
    align-items: center;
}

.aboutSection .about-img {
    position: relative;
    bottom: -5px;
}

.aboutSection .about-img img {
    height: 40vw;
}

.aboutSection .about-text {
    padding: 0 0 0 60px;
}

.aboutSection .about-text h6 {
    color: var(--red);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    font-family: "Roboto";
    letter-spacing: 1px;
    margin-bottom: 16px;
}

.aboutSection .about-text h2 {
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 800;
    line-height: 1.3;
    color: var(--black);
    margin-bottom: 25px;
}

.aboutSection .about-text h2 span {
    color: var(--red);
}

.aboutSection .about-text p {
    color: #808080;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
    line-height: 1.8;
}

.aboutSection .about-text ul {
    padding: 0;
}

.aboutSection .about-text ul li {
    list-style: none;
}

.aboutSection .about-text ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 15px;
    line-height: 2.5;
    transition: all .2s linear;
}

.aboutSection .about-text ul li a .fa-arrow-right {
    color: #e1193e;
    font-size: 12px;
    padding-right: 10px;
    position: relative;
    transition: all .2s linear;
}

.aboutSection .about-text ul li a:hover {
    color: #e1193e;
}

.aboutSection .about-text ul li a:hover i {
    padding-right: 5px;
}

.aboutSection .about-text ul li a:hover {
    color: #e1193e;
}